body {
    background: url("../img/tlo.jpeg") no-repeat top center #1D1520;
    background-size: 100%
}

h3 {
    margin-top: 0px;
}

.navbar-inverse {
    background-color: #1D1520;
}

.panel-default {
    border: 1px solid ;
    border-color: #FF3500;
    border-radius: 6px;
}

.panel-body {
    background-color: #231E22;
    color: #7E8386;
    border-radius: 5px;
}

.row {
    margin-bottom: 30px;
}
